@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@font-face {
  font-family: "CircularStd-Book";
  src: url("../font/CircularStd-Book.woff") format("woff"); }
html {
  font-size: 16px;
  color: #fff;
  background-color: #2a2a2a;
  font-family: "CircularStd-Book"; }

a:link, a:visited {
  text-decoration: none;
  color: #fff; }

::selection {
  background: #ef5e32;
  color: #fff; }

button {
  display: block;
  border: 0;
  background: transparent;
  outline: none; }

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0; }

h3 {
  font-size: 0.75em; }

input {
  border: none; }

.btn {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  padding: 16px;
  line-height: 16px; }
  .btn.btn_white {
    background-color: #fff;
    color: #333; }
  .btn.btn_blue {
    background-color: #1e86f9;
    color: #fff; }
  .btn.btn_gray {
    background-color: #484848;
    color: #fff; }
  .btn.btn_green {
    background-color: #33a466;
    color: #fff; }
    .btn.btn_green:hover {
      background-color: #2d915a;
      color: #fff; }
  .btn.btn_gray:hover {
    background-color: #3b3b3b;
    color: #f2f2f2; }

.btn_med {
  padding: 11px 16px; }

.btn svg {
  margin: 0 12px 0 0;
  vertical-align: top;
  transition: color 124ms ease; }
.btn.btn_square {
  width: 38px;
  padding-left: 0;
  padding-right: 0; }
  .btn.btn_square svg {
    margin: 0; }
.btn.btn_circle svg {
  margin: 0; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  z-index: 300;
  transition: top 250ms ease-in; }
  #header h1 {
    width: 44px;
    height: 38px;
    margin: 20px 25px 25px 25px;
    background-image: url("../img/logo1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 44px 38px;
    text-indent: -9999px; }
    #header h1 a {
      display: block;
      width: 44px;
      height: 38px;
      cursor: pointer; }
  #header .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 80px 0 0;
    width: 0px;
    transform: translate3d(0px, 0, 0);
    transition: transform 300ms ease 500ms;
    background-color: #2a2a2a;
    z-index: 2;
    transition: width 150ms ease; }
    #header .sidebar .categories {
      position: relative;
      display: block;
      line-height: 1; }
      #header .sidebar .categories .category {
        position: relative;
        line-height: 1;
        width: 230px; }
    #header .sidebar .category:before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 2px;
      height: 0;
      background: #2F8BE6;
      transform: translateY(-50%);
      transition: height 0ms ease 0ms; }
    #header .sidebar .categories .category:hover:before {
      height: 100%;
      transition-delay: 75ms;
      transition-duration: 175ms; }
    #header .sidebar .categories .category a {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      font-size: 16px;
      padding: 15px 20px;
      color: #AFAFAF; }
      #header .sidebar .categories .category a:hover {
        color: #fff; }
      #header .sidebar .categories .category a.on {
        color: #fff;
        background-color: #2F8BE6; }
  #header .gnb {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 85px;
    width: calc(100% - 85px);
    height: 100%;
    padding-right: 25px;
    transition: all 500s ease-in;
    box-sizing: border-box; }
    @media screen and (max-width: 425px) {
      #header .gnb {
        display: none; } }
    #header .gnb .navigation {
      position: relative;
      float: left;
      margin: 0 20px 0 0; }
    #header .gnb .action {
      display: none;
      position: absolute;
      top: 0;
      right: 15px;
      line-height: 38px;
      margin: 20px 0;
      padding-right: 48px; }
      #header .gnb .action svg {
        padding: 1px 0 0 0;
        margin: 0; }
    #header .gnb .item {
      float: left;
      display: block;
      position: relative;
      margin: 0 28px 0 0;
      padding: 31px 0 0 0; }
      #header .gnb .item a {
        display: block;
        color: #afafaf;
        font-size: 0.78em;
        font-weight: 400; }
        #header .gnb .item a:hover {
          color: #fff; }
      #header .gnb .item:after {
        position: absolute;
        bottom: -4px;
        left: 50%;
        content: '';
        width: 0%;
        opacity: 0;
        display: block;
        background-color: #2F8BE6;
        height: 2px;
        transition: width 125ms ease, opacity 200ms ease;
        transform: translateX(-50%); }
      #header .gnb .item:hover:after {
        width: 100%;
        opacity: 1; }
    #header .gnb .action .login {
      color: #AFAFAF; }
    #header .gnb .action .btn {
      border-radius: 2px;
      color: #afafaf;
      margin-left: 12px;
      text-align: center; }
      #header .gnb .action .btn.btn_blue {
        color: #fff; }
  #header .bar_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    opacity: 0;
    box-shadow: 0px 2px 18px rgba(42, 42, 42, 0.3);
    z-index: -1; }

#menu_toggle {
  position: fixed;
  top: 26px;
  right: 25px;
  z-index: 400;
  backface-visibility: hidden; }
  #menu_toggle .hamburger {
    position: relative;
    width: 38px;
    height: 26px;
    display: block;
    z-index: 1;
    cursor: pointer;
    z-index: 400; }
    #menu_toggle .hamburger .before, #menu_toggle .hamburger .after {
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 20px;
      height: 2px;
      background-color: #2F8BE6;
      transition: width 200ms ease,opacity 200ms ease;
      transition: transform 200ms ease, -webkit-transform 200ms ease; }
    #menu_toggle .hamburger .middle {
      position: absolute;
      top: 12px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 20px;
      height: 2px;
      background-color: #2F8BE6;
      transition: width 200ms ease,opacity 200ms ease; }
    #menu_toggle .hamburger .before {
      -webkit-transform: translate3d(0, 20px, 0); }
    #menu_toggle .hamburger .after {
      -webkit-transform: translate3d(0, 4px, 0); }
  #menu_toggle.on .hamburger .before {
    -webkit-transform: rotate(45deg) translate3d(8px, 8px, 0); }
  #menu_toggle.on .hamburger .after {
    -webkit-transform: rotate(-45deg) translate3d(-8px, 8px, 0); }
  #menu_toggle.on .hamburger .middle {
    width: 0;
    opacity: 0; }

#footer {
  font-family: "Lato";
  font-weight: 400;
  background-color: #2a2a2a;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 30px;
  text-transform: uppercase; }
  #footer span {
    font-weight: 800;
    font-size: 11px;
    color: #9397a5;
    letter-spacing: -0.25px; }
    #footer span strong {
      color: #1e86f9; }

.btn_top {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: 514px;
  display: none;
  width: 61px;
  height: 60px; }
  .btn_top button {
    background-image: url("../img/btn_top.png");
    background-position: 0 -60px;
    background-repeat: no-repeat; }
    .btn_top button:hover {
      background-position: 0 0; }

#content {
  position: relative;
  padding: 78px 0 0 0;
  min-height: 100%;
  height: auto;
  overflow: hidden;
  background-color: #1e86f9; }
  #content .product_wrap .product_header {
    position: relative;
    /*     height:350px; */
    margin: -75px 0 0px 0;
    padding: 118px 0 100px 0;
    background-color: #353535;
    background-size: 1104px 549px; }
    #content .product_wrap .product_header:after {
      position: absolute;
      bottom: 0;
      z-index: 1;
      content: '';
      width: 100%;
      height: 20px;
      display: block;
      box-shadow: inset 0 -10px 10px 0 rgba(0, 0, 0, 0.09); }
    #content .product_wrap .product_header .background {
      background: url("../img/bg_work00.jpg");
      background-position: center top;
      background-repeat: no-repeat;
      background-color: #efefef;
      position: absolute;
      opacity: 0.1;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(100%);
      background-attachment: fixed; }
      #content .product_wrap .product_header .background .canvas {
        z-index: 10; }
    #content .product_wrap .product_header .title_wrap {
      position: absolute;
      margin: 0 auto;
      width: 100%;
      top: 50%;
      margin-top: -78px;
      text-align: center; }
      #content .product_wrap .product_header .title_wrap .title {
        font-size: 45px;
        margin: 0 0 10px 0;
        font-weight: 200;
        position: relative; }
        #content .product_wrap .product_header .title_wrap .title:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 300px;
          margin-left: -150px;
          height: 3px;
          background-color: #1e86f9;
          transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1), margin-left 600ms cubic-bezier(0.77, 0, 0.175, 1); }
        #content .product_wrap .product_header .title_wrap .title:hover:after {
          width: 0px;
          margin-left: 0; }
      #content .product_wrap .product_header .title_wrap .sub_title {
        font-family: "Noto-Thin";
        letter-spacing: 2px;
        font-size: 14px;
        line-height: 1.0em;
        color: #fff;
        font-weight: 200;
        display: block; }
        #content .product_wrap .product_header .title_wrap .sub_title .separation {
          display: inline-block;
          width: 100%; }
      #content .product_wrap .product_header .title_wrap .actions {
        position: absolute;
        bottom: -79px;
        right: 0;
        z-index: 5; }
        #content .product_wrap .product_header .title_wrap .actions .action {
          display: inline-block;
          margin-left: 10px; }
      #content .product_wrap .product_header .title_wrap .avstar {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 2px;
        margin-right: 10px;
        vertical-align: top; }
      #content .product_wrap .product_header .title_wrap .publisher {
        padding: 15px 0 0 0;
        color: #AFAFAF;
        line-height: 33px; }
        #content .product_wrap .product_header .title_wrap .publisher:before {
          border: 3px solid #1e86f9; }
      #content .product_wrap .product_header .title_wrap .published {
        color: #AFAFAF;
        line-height: 33px; }
      #content .product_wrap .product_header .title_wrap .app {
        display: inline-block;
        width: 16px;
        height: 16px;
        padding: 3px; }
    #content .product_wrap .product_header .header_footer {
      width: 100%;
      box-sizing: border-box;
      padding: 0 35px 35px;
      position: absolute;
      bottom: 0;
      left: 0; }
      #content .product_wrap .product_header .header_footer .left {
        float: left; }
        #content .product_wrap .product_header .header_footer .left .info {
          font-weight: 300;
          font-size: 0.78em;
          line-height: 1.5em;
          width: 100%;
          color: #afafaf;
          overflow: hidden;
          letter-spacing: 1px; }
          #content .product_wrap .product_header .header_footer .left .info a {
            margin-right: 10px; }
            #content .product_wrap .product_header .header_footer .left .info a:hover {
              color: #1e86f9; }
      #content .product_wrap .product_header .header_footer .right {
        float: right;
        text-align: right;
        margin-top: 20px; }
        #content .product_wrap .product_header .header_footer .right .socials a {
          display: block;
          float: left;
          margin-right: 10px;
          text-align: center;
          color: #fff;
          background-color: #484848;
          border: 2px solid #484848;
          border-radius: 50%;
          width: 32px;
          line-height: 30px;
          font-size: 12px;
          -webkit-transition: all .3s ease;
          transition: all .3s ease; }
          #content .product_wrap .product_header .header_footer .right .socials a:hover {
            background-color: #1e86f9;
            border-color: #1e86f9;
            color: #fff; }
  #content .product_content {
    margin: 115px auto 0;
    max-width: 986px;
    width: 100%; }
    #content .product_content .main-about {
      font-size: 14px; }
      #content .product_content .main-about .about-hello {
        text-align: center; }
        #content .product_content .main-about .about-hello:after {
          display: block;
          content: "";
          width: 30px;
          height: 3px;
          background-color: #1e86f9;
          position: absolute;
          left: 50%;
          margin-left: -15px; }
      #content .product_content .main-about .sub_title {
        margin: 0 auto 50px;
        text-align: center; }
    #content .product_content .about-info {
      clear: both;
      margin: 100px 0 30px 0;
      overflow: hidden;
      border-bottom: 1px dotted #26c0f2;
      padding-bottom: 100px; }
      #content .product_content .about-info .title {
        font-size: 30px;
        float: left;
        width: 30%;
        line-height: 80px;
        position: relative; }
        #content .product_content .about-info .title:before {
          content: "";
          position: absolute;
          width: 20px;
          height: 3px;
          background-color: #fff; }
        #content .product_content .about-info .title strong {
          display: block;
          line-height: 10px; }
      #content .product_content .about-info .list-item {
        width: 70%;
        float: right;
        line-height: 30px; }
        #content .product_content .about-info .list-item dt {
          font-size: 15px;
          float: left;
          margin-right: 30px;
          width: 60px; }
        #content .product_content .about-info .list-item dd {
          font-size: 15px; }
      #content .product_content .about-info .about-box {
        clear: both;
        margin-top: 30px;
        display: table; }
        #content .product_content .about-info .about-box li {
          display: table-cell;
          border: 1px solid #333;
          width: 31%;
          height: 230px;
          margin-left: 3%;
          margin-bottom: 3%;
          background-color: #f5f5f5;
          text-align: center;
          box-sizing: border-box;
          float: left;
          padding: 40px 0;
          color: #333;
          font-size: 18px;
          box-shadow: 0px 2px 28px rgba(42, 42, 42, 0.3);
          letter-spacing: -0.25px; }
          #content .product_content .about-info .about-box li .category {
            display: block;
            font-size: 12px;
            width: 100px;
            height: 18px;
            line-height: 18px;
            color: #fff;
            background-color: #592de4;
            margin: 0 auto; }
          #content .product_content .about-info .about-box li em {
            color: #baea00;
            font-size: 48px;
            position: relative; }
            #content .product_content .about-info .about-box li em:after {
              display: block;
              position: absolute;
              left: 50%;
              width: 50px;
              height: 3px;
              margin-left: -25px;
              background-color: #baea00;
              content: ""; }
          #content .product_content .about-info .about-box li:first-child {
            margin-left: 0; }
          #content .product_content .about-info .about-box li:nth-of-type(4) {
            margin-left: 0; }
          #content .product_content .about-info .about-box li .text {
            margin-top: 10px;
            color: #999;
            font-size: 14px; }
      #content .product_content .about-info .about-box2 {
        display: block;
        float: left;
        width: 70%;
        line-height: 30px; }

/*# sourceMappingURL=about.css.map */
