@font-face {
  font-family: "CircularStd-Book";
  src: url("font/CircularStd-Book.woff") format("woff"); }
@font-face {
  font-family: "CircularStd-Medium";
  src: url("font/CircularStd-Medium.woff") format("woff"); }
@font-face {
  font-family: "CircularStd-medium";
  src: url("font/CircularStd-Medium.woff") format("woff"); }
@font-face {
  font-family: "NotoSans-Medium";
  src: url("font/NotoSansCJKkr-Medium.woff") format("woff"); }
@font-face {
  font-family: "NotoSans-Light";
  src: url("font/NotoSansCJKkr-Light.woff") format("woff"); }
@font-face {
  font-family: "NotoSans-Thin";
  src: url("font/NotoSansCJKkr-Thin.woff") format("woff"); }
@font-face {
  font-family: "NanumBarunGothic";
  src: url("font/NanumBarunGothic.eot") format("woff"); }
html {
  font-size: 16px;
  color: #fff;
  background-color: #353535;
  font-family: "CircularStd-Book"; }

a:link, a:visited {
  text-decoration: none;
  color: #fff; }

::selection {
  background: #2F8BE6;
  color: #fff; }

button {
  display: block;
  border: 0;
  background: transparent;
  outline: none; }

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0; }

h3 {
  font-size: 0.75em; }

.btn {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  padding: 16px;
  line-height: 16px; }
  .btn.btn_white {
    background-color: #fff;
    color: #333; }
  .btn.btn_blue {
    background-color: #2F8BE6;
    color: #fff; }
  .btn.btn_gray {
    background-color: #484848;
    color: #fff; }
  .btn.btn_green {
    background-color: #33a466;
    color: #fff; }
    .btn.btn_green:hover {
      background-color: #2d915a;
      color: #fff; }
  .btn.btn_gray:hover {
    background-color: #3b3b3b;
    color: #f2f2f2; }

.btn_med {
  padding: 11px 16px; }

.btn svg {
  margin: 0 12px 0 0;
  vertical-align: top;
  transition: color 124ms ease; }
.btn.btn_square {
  width: 38px;
  padding-left: 0;
  padding-right: 0; }
  .btn.btn_square svg {
    margin: 0; }
.btn.btn_circle svg {
  margin: 0; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  z-index: 300;
  transition: top 250ms ease-in; }
  #header h1 {
    width: 44px;
    height: 38px;
    margin: 20px 25px 25px 25px;
    background-image: url("../img/logo1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 44px 38px;
    text-indent: -9999px; }
    #header h1 a {
      display: block; }
  #header .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 80px 0 0;
    width: 0px;
    transform: translate3d(0px, 0, 0);
    transition: transform 300ms ease 500ms;
    background-color: #2a2a2a;
    z-index: 2;
    transition: width 150ms ease; }
    #header .sidebar .categories {
      position: relative;
      display: block;
      line-height: 1; }
      #header .sidebar .categories .category {
        position: relative;
        line-height: 1;
        width: 230px; }
    #header .sidebar .category:before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 2px;
      height: 0;
      background: #2F8BE6;
      transform: translateY(-50%);
      transition: height 0ms ease 0ms; }
    #header .sidebar .categories .category:hover:before {
      height: 100%;
      transition-delay: 75ms;
      transition-duration: 175ms; }
    #header .sidebar .categories .category a {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      font-size: 16px;
      padding: 15px 20px;
      color: #AFAFAF; }
      #header .sidebar .categories .category a:hover {
        color: #fff; }
      #header .sidebar .categories .category a.on {
        color: #fff;
        background-color: #2F8BE6; }
  #header .gnb {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 85px;
    width: calc(100% - 85px);
    height: 100%;
    padding-right: 25px;
    transition: all 500s ease-in;
    box-sizing: border-box; }
    @media screen and (max-width: 450px) {
      #header .gnb {
        display: none; } }
    #header .gnb .navigation {
      position: relative;
      float: left;
      margin: 0 20px 0 0; }
    #header .gnb .action {
      display: none;
      position: absolute;
      top: 0;
      right: 15px;
      line-height: 38px;
      margin: 20px 0;
      padding-right: 48px; }
      #header .gnb .action svg {
        padding: 1px 0 0 0;
        margin: 0; }
    #header .gnb .item {
      float: left;
      display: block;
      position: relative;
      margin: 0 28px 0 0;
      padding: 31px 0 0 0; }
      #header .gnb .item a {
        display: block;
        color: #afafaf;
        font-size: 0.78em;
        font-weight: 400; }
        #header .gnb .item a:hover {
          color: #fff; }
      #header .gnb .item:after {
        position: absolute;
        bottom: -4px;
        left: 50%;
        content: '';
        width: 0%;
        opacity: 0;
        display: block;
        background-color: #2F8BE6;
        height: 2px;
        transition: width 125ms ease, opacity 200ms ease;
        transform: translateX(-50%); }
      #header .gnb .item:hover:after {
        width: 100%;
        opacity: 1; }
    #header .gnb .action .login {
      color: #AFAFAF; }
    #header .gnb .action .btn {
      border-radius: 2px;
      color: #afafaf;
      margin-left: 12px;
      text-align: center; }
      #header .gnb .action .btn.btn_blue {
        color: #fff; }
  #header .bar_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    opacity: 0;
    box-shadow: 0px 2px 18px rgba(42, 42, 42, 0.3);
    z-index: -1; }

#menu_toggle {
  position: fixed;
  top: 26px;
  right: 25px;
  z-index: 400;
  backface-visibility: hidden; }
  #menu_toggle .hamburger {
    position: relative;
    width: 38px;
    height: 26px;
    display: block;
    z-index: 1;
    cursor: pointer;
    z-index: 400; }
    #menu_toggle .hamburger .before, #menu_toggle .hamburger .after {
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 20px;
      height: 2px;
      background-color: #2F8BE6;
      transition: width 200ms ease,opacity 200ms ease;
      transition: transform 200ms ease, -webkit-transform 200ms ease; }
    #menu_toggle .hamburger .middle {
      position: absolute;
      top: 12px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 20px;
      height: 2px;
      background-color: #2F8BE6;
      transition: width 200ms ease,opacity 200ms ease; }
    #menu_toggle .hamburger .before {
      -webkit-transform: translate3d(0, 20px, 0); }
    #menu_toggle .hamburger .after {
      -webkit-transform: translate3d(0, 4px, 0); }
  #menu_toggle.on .hamburger .before {
    -webkit-transform: rotate(45deg) translate3d(8px, 8px, 0); }
  #menu_toggle.on .hamburger .after {
    -webkit-transform: rotate(-45deg) translate3d(-8px, 8px, 0); }
  #menu_toggle.on .hamburger .middle {
    width: 0;
    opacity: 0; }

#footer {
  background-color: #2a2a2a;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 30px 0 30px;
  text-transform: uppercase; }
  #footer span {
    font-size: 11px;
    color: #9397a5;
    letter-spacing: 1px; }
    #footer span strong {
      color: #2F8BE6; }

.btn_top {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: 514px;
  display: none;
  width: 61px;
  height: 60px; }
  .btn_top button {
    background-image: url("../img/btn_top.png");
    background-position: 0 -60px;
    background-repeat: no-repeat; }
    .btn_top button:hover {
      background-position: 0 0; }

html {
  font-size: 16px;
  color: #fff;
  background-color: #353535;
  font-family: "CircularStd-Book"; }

li {
  list-style: none; }

button {
  display: block;
  border: 0;
  background: transparent;
  outline: none; }

a:link, a:visited {
  text-decoration: none;
  color: #fff; }

::selection {
  background: #2F8BE6;
  color: #fff; }

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0; }

h3 {
  font-size: 0.75em; }

.btn {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  padding: 16px;
  height: 16px;
  line-height: 16px; }
  .btn.btn_white {
    background-color: #fff;
    color: #333; }
  .btn.btn_blue {
    background-color: #2F8BE6;
    color: #fff; }
  .btn.btn_gray {
    background-color: #484848;
    color: #fff; }
  .btn.btn_green {
    background-color: #33a466;
    color: #fff; }
    .btn.btn_green:hover {
      background-color: #2d915a;
      color: #fff; }
  .btn.btn_gray:hover {
    background-color: #3b3b3b;
    color: #f2f2f2; }

.btn_med {
  padding: 11px 16px; }

.btn svg {
  margin: 0 12px 0 0;
  vertical-align: top;
  transition: color 124ms ease; }
.btn.btn_square {
  width: 38px;
  padding-left: 0;
  padding-right: 0; }
  .btn.btn_square svg {
    margin: 0; }
.btn.btn_circle svg {
  margin: 0; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  z-index: 300;
  transition: top 250ms ease-in; }
  #header h1 {
    width: 44px;
    height: 38px;
    margin: 20px 25px 25px 25px;
    background-image: url("../img/logo1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 44px 38px;
    text-indent: -9999px; }
    #header h1 a {
      display: block; }
  #header .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 80px 0 0;
    width: 0px;
    transform: translate3d(0px, 0, 0);
    transition: transform 300ms ease 500ms;
    background-color: #2a2a2a;
    z-index: 2;
    transition: width 150ms ease; }
    #header .sidebar .categories {
      position: relative;
      display: block;
      line-height: 1; }
      #header .sidebar .categories .category {
        position: relative;
        line-height: 1;
        width: 230px; }
    #header .sidebar .category:before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 2px;
      height: 0;
      background: #2F8BE6;
      transform: translateY(-50%);
      transition: height 0ms ease 0ms; }
    #header .sidebar .categories .category:hover:before {
      height: 100%;
      transition-delay: 75ms;
      transition-duration: 175ms; }
    #header .sidebar .categories .category a {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      font-size: 16px;
      padding: 15px 20px;
      color: #AFAFAF; }
      #header .sidebar .categories .category a:hover {
        color: #fff; }
      #header .sidebar .categories .category a.on {
        color: #fff;
        background-color: #2F8BE6; }
  #header .gnb {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 85px;
    width: calc(100% - 85px);
    height: 100%;
    padding-right: 25px;
    transition: all 500s ease-in;
    box-sizing: border-box; }
    @media screen and (max-width: 450px) {
      #header .gnb {
        display: none; } }
    #header .gnb .navigation {
      position: relative;
      float: left;
      margin: 0 20px 0 0; }
    #header .gnb .action {
      display: none;
      position: absolute;
      top: 0;
      right: 15px;
      line-height: 38px;
      margin: 20px 0;
      padding-right: 48px; }
      #header .gnb .action svg {
        padding: 1px 0 0 0;
        margin: 0; }
    #header .gnb .item {
      float: left;
      display: block;
      position: relative;
      margin: 0 28px 0 0;
      padding: 31px 0 0 0; }
      #header .gnb .item a {
        display: block;
        color: #afafaf;
        font-size: 0.78em;
        font-weight: 400; }
        #header .gnb .item a:hover {
          color: #fff; }
      #header .gnb .item:after {
        position: absolute;
        bottom: -4px;
        left: 50%;
        content: '';
        width: 0%;
        opacity: 0;
        display: block;
        background-color: #2F8BE6;
        height: 2px;
        transition: width 125ms ease, opacity 200ms ease;
        transform: translateX(-50%); }
      #header .gnb .item:hover:after {
        width: 100%;
        opacity: 1; }
    #header .gnb .action .login {
      color: #AFAFAF; }
    #header .gnb .action .btn {
      border-radius: 2px;
      color: #afafaf;
      margin-left: 12px;
      text-align: center; }
      #header .gnb .action .btn.btn_blue {
        color: #fff; }
  #header .bar_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    opacity: 0;
    box-shadow: 0px 2px 18px rgba(42, 42, 42, 0.3);
    z-index: -1; }

#content {
  position: relative;
  padding: 78px 0 0 0;
  min-height: 100%;
  height: auto; }
  #content .product_wrap .product_header {
    position: relative;
    height: 350px;
    margin: -75px 0 0px 0;
    /*     background-color: $black; */
    background-size: 1104px 549px; }
    #content .product_wrap .product_header:after {
      position: absolute;
      bottom: 0;
      z-index: 1;
      content: '';
      width: 100%;
      height: 20px;
      display: block;
      box-shadow: inset 0 -10px 10px 0 rgba(0, 0, 0, 0.09); }
    #content .product_wrap .product_header .background {
      /*       background: url("../img/background02.jpg") center 0px/cover no-repeat #efefef; */
      position: absolute;
      opacity: 0.2;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(100%);
      background-attachment: fixed; }
      #content .product_wrap .product_header .background .canvas {
        z-index: 10; }
    #content .product_wrap .product_header .title_wrap {
      position: absolute;
      margin: 0 auto;
      width: 100%;
      top: 50%;
      margin-top: -75px;
      text-align: center; }
      #content .product_wrap .product_header .title_wrap .title {
        font-size: 45px;
        margin: 0 0 10px 0;
        font-weight: 200;
        position: relative; }
        #content .product_wrap .product_header .title_wrap .title:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -150px;
          width: 300px;
          height: 3px;
          background-color: #2F8BE6;
          transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1), margin-left 600ms cubic-bezier(0.77, 0, 0.175, 1); }
        #content .product_wrap .product_header .title_wrap .title:hover:after {
          width: 0px;
          margin-left: 0; }
      #content .product_wrap .product_header .title_wrap .sub_title {
        letter-spacing: 2px;
        font-size: 14px;
        line-height: 1.0em;
        color: #fff;
        font-weight: 200;
        display: block; }
        #content .product_wrap .product_header .title_wrap .sub_title .separation {
          display: inline-block;
          width: 100%; }
    #content .product_wrap .product_header .header_footer {
      width: 100%;
      box-sizing: border-box;
      padding: 0 35px 35px;
      position: absolute;
      bottom: 0;
      left: 0; }
      #content .product_wrap .product_header .header_footer .left {
        float: left; }
        @media screen and (max-width: 450px) {
          #content .product_wrap .product_header .header_footer .left {
            display: none; } }
        #content .product_wrap .product_header .header_footer .left .info {
          font-weight: 300;
          font-size: 0.78em;
          line-height: 1.5em;
          width: 100%;
          color: #afafaf;
          overflow: hidden;
          letter-spacing: 1px; }
          #content .product_wrap .product_header .header_footer .left .info a {
            margin-right: 10px; }
            #content .product_wrap .product_header .header_footer .left .info a:hover {
              color: #2F8BE6; }
      #content .product_wrap .product_header .header_footer .right {
        float: right;
        text-align: right;
        margin-top: 20px; }
        @media screen and (max-width: 450px) {
          #content .product_wrap .product_header .header_footer .right {
            display: none; } }
        #content .product_wrap .product_header .header_footer .right .socials a {
          display: block;
          float: left;
          margin-right: 10px;
          text-align: center;
          color: #fff;
          background-color: #484848;
          border: 2px solid #484848;
          border-radius: 50%;
          width: 32px;
          line-height: 30px;
          font-size: 12px;
          -webkit-transition: all .3s ease;
          transition: all .3s ease; }
          #content .product_wrap .product_header .header_footer .right .socials a:hover {
            background-color: #2F8BE6;
            border-color: #2F8BE6;
            color: #fff; }
      #content .product_wrap .product_header .header_footer .updown {
        position: absolute;
        bottom: 35px;
        left: 50%;
        margin-left: -18px; }
        #content .product_wrap .product_header .header_footer .updown span {
          display: block;
          width: 5px;
          height: 5px;
          -ms-transform: rotate(45deg);
          /* IE 9 */
          -webkit-transform: rotate(45deg);
          /* Chrome, Safari, Opera */
          transform: rotate(45deg);
          border-right: 2px solid white;
          border-bottom: 2px solid white;
          margin: 0 0 3px 6px; }
        #content .product_wrap .product_header .header_footer .updown .unu {
          margin-top: 6px; }
        #content .product_wrap .product_header .header_footer .updown .unu, #content .product_wrap .product_header .header_footer .updown .doi, #content .product_wrap .product_header .header_footer .updown .trei {
          -webkit-animation: mouse-scroll 1s infinite;
          -moz-animation: mouse-scroll 1s infinite; }
        #content .product_wrap .product_header .header_footer .updown .unu {
          -webkit-animation-delay: .1s;
          -moz-animation-delay: .1s;
          -webkit-animation-direction: alternate; }
        #content .product_wrap .product_header .header_footer .updown .doi {
          -webkit-animation-delay: .2s;
          -moz-animation-delay: .2s;
          -webkit-animation-direction: alternate; }
        #content .product_wrap .product_header .header_footer .updown .trei {
          -webkit-animation-delay: .3s;
          -moz-animation-delay: .3s;
          -webkit-animation-direction: alternate; }
        #content .product_wrap .product_header .header_footer .updown .mouse {
          height: 21px;
          width: 14px;
          border-radius: 10px;
          transform: none;
          border: 2px solid white;
          top: 170px; }
        #content .product_wrap .product_header .header_footer .updown .wheel {
          height: 5px;
          width: 2px;
          display: block;
          margin: 5px auto;
          background: white;
          position: relative; }
        #content .product_wrap .product_header .header_footer .updown .wheel {
          -webkit-animation: mouse-wheel 1.2s ease infinite;
          -moz-animation: mouse-wheel 1.2s ease infinite; }
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  50% {
    top: 2px; }
  100% {
    top: 3px; } }
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
  #content .product_content_wrap {
    background-color: #353535;
    overflow: hidden; }
    #content .product_content_wrap .product_content {
      margin: 115px auto 0;
      max-width: 986px;
      width: 100%;
      box-sizing: border-box; }
      #content .product_content_wrap .product_content .tab_menu {
        padding: 0 0 44px;
        overflow: hidden; }
        @media screen and (max-width: 768px) {
          #content .product_content_wrap .product_content .tab_menu {
            padding-left: 35px; } }
        #content .product_content_wrap .product_content .tab_menu .tab {
          color: #AFAFAF;
          position: relative;
          display: block;
          float: left;
          margin: 0 30px 0 0;
          font-size: 18px;
          font-weight: 300;
          cursor: pointer; }
          #content .product_content_wrap .product_content .tab_menu .tab:after {
            position: absolute;
            bottom: -4px;
            left: 50%;
            content: '';
            width: 0%;
            opacity: 0;
            display: block;
            background-color: #2F8BE6;
            height: 2px;
            transition: width 125ms ease, opacity 200ms ease;
            transform: translateX(-50%); }
          #content .product_content_wrap .product_content .tab_menu .tab:hover:after {
            width: 100%;
            opacity: 1; }
          #content .product_content_wrap .product_content .tab_menu .tab.active:after {
            width: 100%;
            opacity: 1; }
          #content .product_content_wrap .product_content .tab_menu .tab:hover {
            color: #fff; }
      #content .product_content_wrap .product_content .panes {
        overflow: hidden;
        margin: 0 -20px; }
        @media screen and (max-width: 768px) {
          #content .product_content_wrap .product_content .panes {
            margin: 0; } }
        #content .product_content_wrap .product_content .panes .card {
          position: relative;
          float: left;
          width: 342px;
          overflow: hidden; }
          @media screen and (max-width: 768px) {
            #content .product_content_wrap .product_content .panes .card {
              width: 48%; } }
          @media screen and (max-width: 450px) {
            #content .product_content_wrap .product_content .panes .card {
              width: 100%; } }
          #content .product_content_wrap .product_content .panes .card .card_wrap {
            position: relative;
            margin: 0 20px 40px;
            border-radius: 4px; }
            #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure {
              position: relative;
              background-image: none;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              border-radius: 2px;
              height: 210px; }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure.kolon {
                background-image: url("../img/project_kolon00.jpg"); }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure.beanspresso {
                background-image: url("../img/project_beanspreso00.jpg"); }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure.techwell {
                background-image: url("../img/project_techwell00.png"); }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure.engineering {
                background-image: url("../img/project_engineering00.jpg"); }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure.iwill {
                background-image: url("../img/project_iwiil00.jpg"); }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure.songdo {
                background-image: url("../img/project03.jpg"); }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure.beans {
                background-image: url("../img/project_beans00.jpg"); }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_figure.webzine {
                background-image: url("../img/project_webzin00.jpg"); }
            #content .product_content_wrap .product_content .panes .card .card_wrap .hover {
              position: absolute;
              top: 0%;
              left: 0;
              width: 100%;
              height: 100%;
              transition: opacity 250ms ease, left 0ms 250ms;
              background-color: rgba(53, 53, 53, 0.9);
              opacity: 0;
              transform: translate3d(0, 0, 0); }
            #content .product_content_wrap .product_content .panes .card .card_wrap:hover .hover {
              opacity: 1;
              left: 0;
              transition-delay: 0em;
              pointer-events: all; }
            #content .product_content_wrap .product_content .panes .card .card_wrap .hover .group {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 110px;
              height: 48px;
              margin: -19px 0 0 -24px; }
              #content .product_content_wrap .product_content .panes .card .card_wrap .hover .group .btn {
                margin: 0 5px;
                text-align: center;
                vertical-align: top;
                box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25); }
                #content .product_content_wrap .product_content .panes .card .card_wrap .hover .group .btn:hover {
                  background-color: #2F8BE6;
                  color: #fff; }
            #content .product_content_wrap .product_content .panes .card .card_wrap .card_info {
              position: relative;
              margin: 10px 0 0 0; }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_info .title a {
                display: block;
                font-size: 14px;
                color: #fff;
                line-height: 27px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                float: left; }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_info .title span {
                float: right;
                position: relative;
                padding: 6px;
                width: 48px;
                color: #fff;
                font-size: 12px;
                background-color: #2F8BE6;
                border-radius: 4px;
                text-align: center; }
              #content .product_content_wrap .product_content .panes .card .card_wrap .card_info .title .txt {
                overflow: hidden;
                margin-top: 5px;
                font-size: 12px;
                line-height: 20px;
                color: #949494;
                clear: both; }
                #content .product_content_wrap .product_content .panes .card .card_wrap .card_info .title .txt .icon {
                  background-image: url("../img/icon00.png");
                  width: 20px;
                  height: 20px;
                  display: block;
                  margin: 0 8px 0 0;
                  border-radius: 4px;
                  background-size: cover;
                  float: left; }
  #content video {
    -webkit-filter: graycale(100%);
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; }
  #content .product_wrap .section_footer {
    display: none;
    position: relative;
    text-align: center;
    padding: 40px 0 0 0;
    margin: 0 0 80px 0;
    clear: both; }

#menu_toggle {
  position: fixed;
  top: 26px;
  right: 25px;
  z-index: 400;
  backface-visibility: hidden; }
  #menu_toggle .hamburger {
    position: relative;
    width: 38px;
    height: 26px;
    display: block;
    z-index: 1;
    cursor: pointer;
    z-index: 400; }
    #menu_toggle .hamburger .before, #menu_toggle .hamburger .after {
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 20px;
      height: 2px;
      background-color: #2F8BE6;
      transition: width 200ms ease,opacity 200ms ease;
      transition: transform 200ms ease, -webkit-transform 200ms ease; }
    #menu_toggle .hamburger .middle {
      position: absolute;
      top: 12px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 20px;
      height: 2px;
      background-color: #2F8BE6;
      transition: width 200ms ease,opacity 200ms ease; }
    #menu_toggle .hamburger .before {
      -webkit-transform: translate3d(0, 20px, 0); }
    #menu_toggle .hamburger .after {
      -webkit-transform: translate3d(0, 4px, 0); }
  #menu_toggle.on .hamburger .before {
    -webkit-transform: rotate(45deg) translate3d(8px, 8px, 0); }
  #menu_toggle.on .hamburger .after {
    -webkit-transform: rotate(-45deg) translate3d(-8px, 8px, 0); }
  #menu_toggle.on .hamburger .middle {
    width: 0;
    opacity: 0; }

.case_Study .case_preview {
  text-align: center;
  padding: 115px 10% 0 10%; }
  .case_Study .case_preview .title h2 {
    margin-bottom: 30px; }
  .case_Study .case_preview .title .sub_title {
    font-family: sans-serif;
    display: block;
    font-size: 18px;
    margin-bottom: 15px; }
  .case_Study .case_preview .title .case_btn {
    display: inline-block;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 4em; }
  .case_Study .case_preview .pre_content {
    max-width: 1120px;
    height: 298px;
    overflow: hidden;
    text-align: center;
    color: #fff; }
    .case_Study .case_preview .pre_content .m_portrait {
      background-color: #101a23;
      border-color: #101a23;
      padding: 0 1.4%;
      max-width: 12%;
      border-radius: 18px;
      border-width: 0;
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto 7.14286% auto;
      margin-left: 3%; }
      .case_Study .case_preview .pre_content .m_portrait.first {
        margin-left: 0; }
      .case_Study .case_preview .pre_content .m_portrait .frame {
        padding: 24% 0; }
        .case_Study .case_preview .pre_content .m_portrait .frame img {
          width: 100%; }
    .case_Study .case_preview .pre_content .t_portrait {
      background-color: #101a23;
      border-color: #101a23;
      padding: 0 2.5%;
      border-radius: 22px;
      max-width: 50%;
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto 7.14286% auto;
      margin-left: 3%; }
      .case_Study .case_preview .pre_content .t_portrait .frame {
        padding: 5% 0; }
        .case_Study .case_preview .pre_content .t_portrait .frame img {
          width: 100%; }
  .case_Study .case_preview.joakimjansson {
    background-color: #303948;
    color: #fff; }
  .case_Study .case_preview.nrk {
    background-color: #2a252c;
    color: #fff; }
  .case_Study .case_preview.optimum {
    background-color: #334245;
    color: #fff; }

.case_nav .case1 {
  position: relative;
  padding: 2em 0;
  color: #fff;
  transition: background-color 250ms ease-in; }
  .case_nav .case1:hover {
    background-color: #26292d; }
  .case_nav .case1.joakimjansson {
    background-color: #2a2a2a;
    color: #fff; }
  .case_nav .case1.nrk {
    background-color: #2a252c;
    color: #fff; }
    .case_nav .case1.nrk:hover {
      background-color: #283436; }
  .case_nav .case1.optimum {
    background-color: #144450;
    color: #fff; }
    .case_nav .case1.optimum:hover {
      background-color: #334245; }
  .case_nav .case1 .case_block {
    padding: 0 20px; }
    .case_nav .case1 .case_block .case_content {
      margin: 0 auto;
      max-width: 640px; }
      .case_nav .case1 .case_block .case_content .title {
        width: 88%;
        display: inline-block;
        vertical-align: middle; }
        .case_nav .case1 .case_block .case_content .title .subtitle {
          font-size: 16px;
          line-height: 1.5em; }
      .case_nav .case1 .case_block .case_content .t_btn {
        width: 10%;
        display: inline-block;
        text-align: right;
        vertical-align: middle; }
        .case_nav .case1 .case_block .case_content .t_btn .arrow-bullet {
          transform: translateX(0);
          transition: transform 200ms ease-in; }

#footer {
  background-color: #2a2a2a;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 30px 0 30px;
  text-transform: uppercase; }
  #footer span {
    font-size: 11px;
    color: #9397a5;
    letter-spacing: 1px; }
    #footer span strong {
      color: #2F8BE6; }

.btn_top {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: 514px;
  display: none;
  width: 61px;
  height: 60px; }
  .btn_top button {
    background-image: url("../img/btn_top.png");
    background-position: 0 -60px;
    background-repeat: no-repeat; }
    .btn_top button:hover {
      background-position: 0 0; }

/*# sourceMappingURL=index.css.map */
